@import "../../styles/variables";
@import "../../styles/mixin";

@mixin slideLeftBtn {
  animation: slideLeft 2s infinite;
  background-color: $app-200;
  border-color: $app-200;
}

.search_bar {
  position: relative;
  width: 20rem;
  height: 35px;
  align-items: center;

  &:hover,
  &:focus {
    & > *:not(.search_bar_btn) {
      outline: none;
      border-color: $app-200;
    }

    & > .search_bar_btn {
      @include slideLeftBtn;
    }
  }

  @include responsive($lg) {
    width: 10rem;

    @include responsive($xl) {
      width: 17em;
    }
  }

  &_input {
    width: 100%;
    background-color: $app-light;
    color: rgba($color: $app-dark, $alpha: 0.7);
    padding-left: 16px;
    font-style: italic;
    border: 3px solid $app-300;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 17px;
    height: 35px;

    &:focus-visible {
      outline: none;
    }
  }

  &_btn {
    position: absolute;
    right: 0;
    background-color: $app-300;
    border-radius: 20px;
    padding: 0 15px 0 15px;
    border: 2px solid $app-300;

    &:hover {
      @include slideLeftBtn;
    }

    &_icon {
      color: $app-light;
      font-size: 30px;
    }
  }

  @keyframes slideLeft {
    0% {
      padding-right: 15px;
    }
    50% {
      padding-right: 25px;
    }
    100% {
      padding-right: 15px;
    }
  }
}
