@import "../../styles/variables";
@import "../../styles/mixin";

.form {
  background-color: $app-200;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  padding: 3rem 2rem;

  @include responsive($lg) {
    padding: 3rem 5rem;
  }

  &_group {
    margin-bottom: 3rem;
    width: 100%;

    input {
      width: 100%;
      height: 3rem;

      @include responsive($lg) {
        width: 40rem;
        height: 5rem;
      }
    }

    textarea {
      width: 100%;
      height: 10rem;

      @include responsive($lg) {
        width: 40rem;
        height: 20em;
      }
    }

    &_error {
      border-color: #ff7575;
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgb(255 117 117 / 25%);
      background-color: #ffeaea;
    }

    &_message {
      color: #c43535;
      margin-top: 5px;
    }
  }
}
