@import "../../styles/variables";
@import "../../styles/mixin";

.profile {
  width: 25rem;
  transition: transform 0.3s ease-in-out;

  @include responsive($lg) {
    width: 20rem;
  }

  @include responsive($xl) {
    width: 27rem;
  }

  :global {
    .profile-img {
      object-fit: cover;
      object-position: center;
      height: 25rem;
    }

    .profile-body {
      @include center(column);
      text-align: center;
      gap: 1rem;

      &_title {
        margin-top: 1rem;
        color: $app-300;
      }

      .btn-app {
        margin-bottom: 1.5rem;
      }
    }
  }
}
