@import "../../styles/variables";
@import "../../styles/mixin";

.blog {
  margin: 0 auto;
  padding: 5rem 3rem 0 3rem;

  @include responsive($lg) {
    padding: 5rem 10rem 0 10rem;
  }

  @include responsive($xl) {
    padding: 5rem 20rem 0 20rem;
  }

  &:hover {
    h1 {
      color: $app-200;
    }

    img {
      opacity: 0.8;
    }
  }

  :global {
    .blog-content {
      width: fit-content;
    }

    .blog-title {
      margin-top: 1rem;
      font-size: 30px;
      color: $app-300;

      @include responsive($lg) {
        font-size: 35px;
      }

      @include responsive($xl) {
        font-size: 45px;
      }
    }

    .blog-date {
      font-size: 15px;

      @include responsive($xl) {
        font-size: 20px;
      }
    }

    .blog-img {
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;

      @include responsive($lg) {
        width: 75%;
      }

      @include responsive($xl) {
        width: 65%;
      }
    }

    .blog-desc {
      padding: 1rem 0;
      font-size: 15px;

      @include responsive($xl) {
        font-size: 16px;
      }
    }

    .blog-line {
      width: 40%;
      margin-left: auto;
      margin-right: auto;
      height: 25px;
      border-bottom: 1px solid $app-300;
      position: relative;
    }
  }
}
