@import "../../styles/variables";
@import "../../styles/mixin";

.imageBlock {
  :global {
    width: 80%;
    background-color: #E9EAEC;
    box-shadow: 0 0.5rem 0.6rem 0 rgba(0, 0, 0, 0.2), 0 0.5rem 1.2rem 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 2rem;
    .imageBlock-image {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .imageBlock-description {
      text-align: center;
      padding-top: 1rem;
    }
  }
}
