@mixin center($align) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $align;
}

@mixin responsive($query) {
  @media (min-width: $query) {
    @content;
  }
}

@mixin responsive2($query) {
  @media (max-width: $query) {
    @content;
  }
}