// colors
$app-100: #b3daf2;
$app-200: #6dbff2;
$app-300: #148dd9;
$app-400: #022d52;
$app-light: #f2f2f2;
$app-dark: #4d4d4d;

// fonts
$roboto: "Roboto", sans-serif;

// responsive size
$xl: 87.5em; // 4k and hi-res desktop
$lg: 60em; // 1080 and hi-res laptops
$med: 40em; // hi-res tablets and low-res laptops
$sm: 28em; // mobile and low-res tablets
$xs: 20em;
