@import "variables";
@import "mixin";

@import "~bootstrap/scss/functions";

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$app-colors: (
  "app-100": $app-100,
  "app-200": $app-200,
  "app-300": $app-300,
  "app-400": $app-400,
  "app-light": $app-light,
  "app-dark": $app-dark
);

$theme-colors: map-merge($theme-colors, $app-colors);

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";

.btn-app {
  background-color: $app-light;
  color: $app-300;
  border: 2px solid $app-300;
  border-radius: 20px;
  padding: 15px 50px 15px 50px;
  font-size: 16px;
  font-weight: bold;

  &:hover {
    background-color: $app-300;
    color: $app-light;
  }
}

.main {
  min-height: 100vh;
}

@import "~bootstrap/scss/bootstrap";
@import "home.scss";
@import "we-are.scss";
@import "blog.scss";
