@import "variables";
@import "mixin";

@import "~bootstrap/scss/functions";

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$app-colors: (
  "app-100": $app-100,
  "app-200": $app-200,
  "app-300": $app-300,
  "app-400": $app-400,
  "app-light": $app-light,
  "app-dark": $app-dark
);

$theme-colors: map-merge($theme-colors, $app-colors);

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";

// text color
.text-app-100 {
  color: $app-100;
}

.text-app-200 {
  color: $app-200;
}

.text-app-300 {
  color: $app-300;
}

.text-app-400 {
  color: $app-400;
}

.text-app-light {
  color: $app-100;
}

.text-app-dark {
  color: $app-dark;
}

// background color
.bg-app-100 {
  background-color: $app-100;
}

.bg-app-200 {
  background-color: $app-200;
}

.bg-app-300 {
  background-color: $app-300;
}

.bg-app-400 {
  background-color: $app-400;
}

.bg-app-light {
  background-color: $app-light;
}

.bg-app-dark {
  background-color: $app-dark;
}

.btn-app {
  background-color: $app-light;
  color: $app-300;
  border: 2px solid $app-300;
  border-radius: 20px;
  padding: 15px 60px 15px 60px;
  font-size: 16px;
  font-weight: bold;

  &:hover {
    background-color: $app-300;
    color: $app-light;
  }
}

.main {
  min-height: 100vh;
}

@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
