@use "variables" as v;
@use "mixin";

// general
html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: v.$roboto !important;
  font-size: 17px !important;
  font-weight: 400 !important;
}

h1 {
  font-size: 48px !important;
  font-weight: 700 !important;
}

h2 {
  font-size: 36px !important;
  font-weight: bold !important;
}

.subhead {
  font-size: 24px !important;
  font-weight: bold !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// text color
.text-app-100 {
  color: v.$app-100;
}

.text-app-200 {
  color: v.$app-200;
}

.text-app-300 {
  color: v.$app-300;
}

.text-app-400 {
  color: v.$app-400;
}

.text-app-light {
  color: v.$app-100;
}

.text-app-dark {
  color: v.$app-dark;
}

// background color
.bg-app-100 {
  background-color: v.$app-100;
}

.bg-app-200 {
  background-color: v.$app-200;
}

.bg-app-300 {
  background-color: v.$app-300;
}

.bg-app-400 {
  background-color: v.$app-400;
}

.bg-app-light {
  background-color: v.$app-light;
}

.bg-app-dark {
  background-color: v.$app-dark;
}

.btn-app {
  background-color: v.$app-light;
  color: v.$app-300;
  border: 2px solid v.$app-300;
  border-radius: 20px;
  padding: 15px 60px 15px 60px;
  font-size: 16px;
  font-weight: bold;

  &:hover {
    background-color: v.$app-300;
    color: v.$app-light;
  }
}

@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
