@import "variables";
@import "mixin";

.home {
  & > div {
    height: 100vh;
    width: 100%;
  }

  &-hero {
    background-image: url("../public/images/home/hero.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &_content {
      position: absolute;
      top: 25%;
      left: 15%;

      h1 {
        color: $app-400;
      }
    }
  }

  &-blogs {
    height: 100% !important;
    margin-bottom: 10rem;

    @include responsive($lg) {
      height: 100vh;
    }

    &_inner {
      @include center(column);
      margin-top: 10rem;

      h1 {
        color: $app-300;
        text-align: center;
        margin: 0 0.5rem;
      }

      &-cards {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;

        @include responsive($lg) {
          flex-direction: row;
        }
      }
    }
  }

  &-desc {
    background-color: $app-200;
    margin-top: 10rem;
    @include center(column-reverse);
    align-items: flex-start;
    gap: 2rem;
    padding: 5rem 2rem;
    height: 100% !important;

    @include responsive($xl) {
      height: 100vh;
      padding: 5rem 0;
      flex-direction: row;
      align-items: center;
    }

    &_left {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 1rem;

      @include responsive($xl) {
        width: 40em;
      }

      h2 {
        color: white;
      }
    }

    &_right {
      img {
        object-fit: cover;
        height: 40rem;
        width: 100%;

        @include responsive($lg) {
          height: 50rem;
          width: 50rem;
        }
      }
    }
  }

  &-desc2 {
    @include center(column);
    align-items: flex-start;
    gap: 2rem;
    padding: 5rem 2rem;
    height: 100% !important;
    position: relative;

    @include responsive($xl) {
      height: 100vh;
      padding: 5rem 0;
      flex-direction: row;
      align-items: center;
    }

    &_dark {
      width: 30rem;
      background-color: $app-400;
      height: 100vh;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
    }

    &_left {
      img {
        object-fit: cover;
        height: 40rem;
        width: 100%;

        @include responsive($lg) {
          height: 50rem;
          width: 50rem;
        }
      }
    }

    &_right {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 1rem;

      @include responsive($xl) {
        width: 40em;
      }

      h2 {
        color: $app-300;
      }
    }
  }

  &-hero2 {
  }

  &-connect {
  }

  &-email {
  }
}
