@import "variables";
@import "mixin";

.search {
  &-count {
    h3 {
      color: $app-300;
      margin: 2rem 0;
    }
  }
  &-cards {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    gap: 2rem;

    @include responsive($lg) {
      flex-direction: row;
    }
  }
}
