.search{
    &-count {
        h2{
            color: $app-300;
            margin: 2rem;
        }
    }
    &-cards{
      display: flex;
      flex-direction: column;
      margin: 2rem 5rem;
      gap: 2rem;

      @include responsive($lg) {
        flex-direction: row;
      }
    }
}